# Kopioi tämä tiedosto nimellä .env.local ja täytä arvot Neonista
# Neon -> Project -> Connection string -> Prisma

DATABASE_URL="postgresql://user:password@ep-xxx.eu-central-1.aws.neon.tech/neondb?sslmode=require&pgbouncer=true&connect_timeout=15"
DIRECT_URL="postgresql://user:password@ep-xxx.eu-central-1.aws.neon.tech/neondb?sslmode=require"
